.homePage {
  width: 100vw;
  height: 100vh;
  background-color: rgba(127, 255, 212, 0.219);
  display: flex;
  align-items: center;
  justify-content: center;
}

.chat_app {
  background-color: white;
  border-radius: 10px;
  width: 80%;
  height: 95%;
  display: flex;
}

.nav_div {
  width: 6%;
  box-shadow: 3px 0px 3px rgba(167, 167, 167, 0.151);
  display: flex;
  flex-direction: column;
}
.chatList_main {
  width: 27%;
  border-right: 1px solid rgba(179, 179, 179, 0.322);
}

.Nav_icon {
  text-align: center;
  padding-top: 1rem;
  fill: #9494eb;
}

.main_chat_panel {
  width: 67%;
}
