.message_item {
  width: 100%;
  display: flex;
}

.message_content {
  margin: 1rem;
  width: 100%;
  display: flex;
  flex-direction: row-reverse;
  /* justify-content: flex-start; */
}

.message_content.other {
  flex-direction: row;
  justify-content: flex-start;
}

.message_value {
  width: 95%;
  background-color: #5c83d1;
  padding: 0.5rem 1rem;
  color: white;
  font-weight: 700;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.message_value.me {
  border-bottom-left-radius: 15px;
}

.message_value.other {
  background-color: rgb(143, 143, 143);
  border-bottom-right-radius: 15px;
}
.message_div {
  width: 70%;
  margin-right: 0.6rem;
}
.message_div.image{
  width: 35%;
  margin-right: 0.8rem;
}

.message_item_Name {
  display: flex;
  justify-content: flex-end;
  color: #939393;
}
.message_item_Name.other {
  color: #6075d9;
  justify-content: flex-start;
}
.message_item_Name p {
  margin: 0 1rem;
  font-weight: 700;
}

.message_time {
  color: #939393;
  display: flex;
  align-items: flex-end;
  font-size: 0.7rem;
}
.message_time p {
  margin: 0;
}

.message_image{
  width: 35%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #6075d9;
  border-radius: 10px;
  margin-right: 1rem;
}
.message_image img{
  height: 95%;
  width: 95%;
  cursor: pointer;
}
 
.vid_overlay{
    position: absolute;
}
.video_div{
  position: relative;
}

.wrapper {
  position: relative;
  display: inline-block;
  background-color: black;
  border-radius: 5px;
}

.blurEffect {
  -webkit-filter: blur(7px);
  -o-filter: blur(7px);
  -moz-filter: blur(7px);
  -ms-filter: blur(7px);
  filter: blur(7px);
}

.content {
  position: absolute;
  display: inline-block;
  transform: translate(-50%,-50%);
  top: 50%;
  left: 50%;
  color: #FFF;
  width: 100%;
  text-align: center;
  z-index: 999;
}

.play {
  font-size: 30px;
  cursor: pointer;
  display: inline-block;
  text-align: center;
  padding: 5px 25px;
  translate: 0.5s ease;
}

.play:hover {
  color: rgb(96, 96, 96);
}